@model List<ProjekWebShop.Models.Order>

    <h2>Narudzbe</h2>
@foreach (var order in Model)
{
    <div>
        <h3>Narudzba @order.Id - @order.Name - @order.LastName</h3>
        <p>Adresa: @order.Address, @order.City, @order.Zip</p>
        <p>Telefon: @order.Phone</p>
        <p>Datum: @order.OrderDate.ToString("dd/MM.yyyy")</p>
        <p>Narudzba zavrsena: @order.OrderCompleted</p>
        <table class="table">
            <tr>
                <th>Proizvod</th>
                <th>Kolicina</th>
                <th>Cijena</th>
            </tr>
            @foreach (var item in order.Items)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                </tr>
            }
        </table>
    </div>
}
